h1 {
  text-align: center;
  color: blueviolet;
}

img {
  display: block; /* remove tiny space below image */
  max-width: 100%; /* makes image responsive but not squashed */
  height: auto; /* keeps the correct proportions */
}

div {
  display: inline-block; /* only as big as the image */
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto; /* center the div (optional if you need it) */
}